*   {
    margin: auto;
    padding: 0;
    position: sticky;
    font-family: 'Roboto',sans-serif;
}

nav {
    width: 100%;
    height: 80px;
    background-color: lightslategray;
    position:sticky;
}

ul  {
    font-family: 'Roboto', sans-serif;
    scroll-snap-align:inherit;
}

ul li   {
    list-style: none;
    display:flex;
    float:left;
    line-height: 80px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 30px;
}

ul li a:hover {
color:whitesmoke;
font-weight: 800;
font-style: italic;
}


h1 { 
    font-size:xx-large;
    font-weight: 200;
    padding:20px 0 20px 0;
    color: blanchedalmond;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: beige;
    font-size:medium;
    padding: 0 0 20px 0;
    align-self: center;
}

head   {
    background-color: antiquewhite;
}

body   {
    font-family: 'Roboto', sans-serif;
}

#title_banner {
    background-color: black;
    height: 100px;
    padding-bottom: 20px;
    opacity:90%;    
}

#banner_image {
    background-image: no repeat center/100% url(/griots_project/theater-image-background.png);
}

.flexbox-container {
    display:flex;
}

.flexbox-item   {
    display: inline-flex;
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    background-image: url(/griots_project/a-raisin-in-the-sun-theater-1.png);
    opacity: 100%;
    align-content: space-between;
    font-family:'Roboto',sans-serif;
    color: azure;


}

.flexbox-item:hover   {
    opacity: 60%;
    font-weight:bold;
    color: blanchedalmond;
}

.flexbox-item-1 {
    min-height: 200px;

}

.flexbox-item-2{
    min-height: 200px;

}

.flexbox-item-3{
    min-height: 200px;
}
