*   {
    margin: auto;
    padding: 0;
    position: sticky;
    font-family: 'Roboto',sans-serif;
}

@font-face {
    font-family: 'Roboto',sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

nav {
    width: 100%;
    height: 80px;
    background-color: lightslategray;
    position:sticky;
}

ul  {
    font-family: 'Roboto', sans-serif;
    scroll-snap-align:inherit;
}

ul li   {
    list-style: none;
    display:flex;
    float:left;
    line-height: 80px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 30px;
}

ul li a:hover {
color:whitesmoke;
font-weight: 800;
font-style: italic;
}


h1 { 
    font-size:xx-large;
    font-weight: 200;
    padding:20px 0 20px 0;
    color: blanchedalmond;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: beige;
    font-size:medium;
    padding: 0 0 20px 0;
    align-self: center;
}

head   {
    background-color: antiquewhite;
}

body   {
    font-family: 'Roboto', sans-serif;
}

#title_banner {
    background-color: black;
    height: 100px;
    padding-bottom: 20px;
    opacity:90%;    
}


.flexbox-container {
    display:flex;
}

.flexbox-item   {
    display: inline-flex;
    width: 200px;
    margin: 10px;
    padding-top: 2%;
    border: 0px solid #333;
    border-radius: 20px 20px 20px 20px;
    background-color: #dfdfdf;
    background-image: url(/griots_project/a-raisin-in-the-sun-theater-1.png);
    opacity: 100%;
    align-content:space-around;
    font-family:'Roboto',sans-serif;
    color: azure;


}

.flexbox-item:hover   {
    opacity: 80%;
    font-weight:bold;
    color: darkslategrey;
}

.flexbox-item-1 {
    min-height: 200px;
    min-width: 400px;
}

.flexbox-item-2{
    min-height: 200px;
    min-width: 400px;

}

.flexbox-item-3{
    min-height: 200px;
    min-width: 400px;
}
